video {
    width:100%;
    max-width:500px;
    height:auto;
}
#mycanvas{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}
#draw-image{
    margin-top: 50px;
}
#sketch {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border: 1px dotted #777;
    border-radius: 10px;
}

#q-content {
    text-align:left;
}
